:root {
  --todolist-header-bg: #4f46e5;
  --todolist-txt-color: #fff;
  --todolist-body-bg: #f3f4f6;
  --todolist-body-txt-color: #000;
}

body {
  background-color: var(--todolist-body-bg);
  color: var(--todolist-body-txt-color);
}

.p-none-mt-mb {
  margin-top: 0px;
  margin-bottom: 0px;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.aside-enter {
  animation: slideInLeft 0.3s forwards ease-out;
}

.aside-exit {
  animation: slideOutLeft 0.3s forwards ease-in;
}

.alert-modal-w{
  width: -webkit-fill-available;
}